<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item.item %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @item.due_date %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @item.completed %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
